body {
  background-color: #e2dede;
}

.App {
  text-align: center;
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 85%;
  margin: 20px auto;
  gap: 20px;
}

.card {
  /* border: 2px solid blue; */
  margin: 15px;
  padding: 18px 5px;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 4px;
}

.card image{
  width: 100%;
}

.card p {
  margin-top: -4px;
  color: gray;
}

.card button {
  padding: 9px 18px;
  border: none;
  background-color: darkcyan;
  color: white;
  font-size: medium;
  border-radius: 4px;
  cursor: pointer;
}